

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.container{
  max-width: 1200px;
}



  
   
.bg-white{
  background-image: url('/assets/saa.jpg');
  background-position: center;
   background-size: cover;
}


header{
  height: 50vh;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;

}

.navbar-brand {
  font-size: 27 px;
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  
}
h1{
    color: #5f6331;
    font-family: 'Raleway', sans-serif;
}


.nav-link {
  display: inline-block; 
  white-space: nowrap;
  color: #693b5f;
  border-radius: 20px;
  margin-left: -30px;
  margin-right: 50px;
  font-size: 12px;
  padding: -10px;
  cursor: pointer;
  text-transform:capitalize;
}

.nav-link.active {
  color: rgb(0, 0, 0);
}

main {
  padding: 0 16px;

}

.border-bottom {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.main-content{
  margin-top: 20px;
  padding: 20px;

}
i{
  color: #693b5f;
  font-size: 15px;
}
.border-bottom {
    border-bottom: 1px solid rgb(95,99,49)!important;
}
