* {
    margin: 0;
    padding: 0;
  }
  
  .bg-light {
    background-color: #ffffff !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #000000;
  }
  
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
  }
  
  .navbar-light .navbar-brand {
    color: #505050;
    font-family: "Arabic Typesetting";
    font-size: 30px;
    margin-left: 95px;
  }
 
 
  .nav-link {
    font-weight: 500 !important;
    text-transform: uppercase !important;
    font-size: 14px;
  }
  
  .container {
    display: flex !important;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
  }
  
  .content {
    margin-top: 135px;
    height: calc(100vh - 135px); 

  }
  /*
  .btn-outline-primary{
    border: 1px solid #fff;
    width: 140px;
    height: 30px;
    background-color: #000000;
    color: #fff;
    margin-top: -5px;
  }*/
  
  