
  <div class="container  justify-content-center">
    <div class="row g-3">
        <div class="row row-cols-1 row-cols-md-2 g-4 mx-auto justify-content-center">
            <div class="col-md-3">
          <div class="card shadow-lg" style="background-image: url('/../assets/nutritionel.jpg');background-size: cover;background-position: center;">
            <div class="card-body"> <a class="link" (click)="openNutritionModal(modalContentNutrition)">
              <h5 class="card-title" style=" margin-left: 2px; color: rgb(255, 255, 255);">Bilan nutritionnel</h5></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-lg" style="background-image: url('/../assets/efffortmaxi.jpg');background-size: cover;background-position: center;">
            <div class="card-body"><a class="link" (click)="openEpreuveModal(modalContentEpreuve)">
              <h5 class="card-title" style=" margin-left: 18px;">Bilan d'epreuve</h5></a>
            </div>
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="card shadow-lg" style="background-image: url('/../assets/clinique.jpg');background-size: cover;background-position: center;">
            <div class="card-body"><a class="link" (click)="openCliniqueModal(modalContentCinique)">
              <h5 class="card-title" style=" margin-left: 15px;">Examen clinique</h5></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-lg" style="background-image: url('/../assets/physique.jpg');background-size: cover;background-position: center;">
              <div class="card-body"><a class="link" (click)="openPhysiqueModal(modalContentPhysique)">
                <h5 class="card-title" style=" margin-left: 10px;">Examen physique</h5></a>
              </div>
            </div>
          </div>
       
      </div>
    </div>
  </div>
  
  <ng-template #modalContentEpreuve let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bilan d'epreuve</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="title">
          <h2>bilan d'effort maximal</h2></div>
          <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
            <option selected>select un athléte</option>
  
            <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
            
          </select>
       
          <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Date </th>
                  <th>Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="number" placeholder="" ></td>
                  <td><input type="date" placeholder=""  ></td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="imprimer()" style="margin-right: 20px;">Imprimer</button>
                    <button type="button" class="btn btn-primary" (click)="consulter(modalConsulterepreuve)">Consulter</button>
                  </td>
                </tr>
              </tbody>
             
            </table>
          
  </form>
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>
  

  <ng-template  #modalContentNutrition let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bilan nutritionel</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="title">
          <h2>bilan nutritionel</h2></div>
          <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
            <option selected>dhya hammami</option>
            <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
            
          </select>
       
          <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Date </th>
                  <th>Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1</td>
                  <td>01/06/2023</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="imprimer()" style="margin-right: 20px;">Imprimer</button>
                    <button type="button" class="btn btn-primary" (click)="consulternutritionel(modalConsulternutritionel)">Consulter</button>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>10/06/2023</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="imprimer()" style="margin-right: 20px;">Imprimer</button>
                    <button type="button" class="btn btn-primary" (click)="consulternutritionel(modalConsulternutritionel)">Consulter</button>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>20/06/2023</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="imprimer()" style="margin-right: 20px;">Imprimer</button>
                    <button type="button" class="btn btn-primary" (click)="consulternutritionel(modalConsulternutritionel)">Consulter</button>
                  </td>
                </tr>
              </tbody>
             
            </table>
          
  </form>
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>
 

  <ng-template  #modalContentCinique let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Examen clinique</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="title">
          <h2>Examen clinique</h2></div>
          <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
            <option selected>select un athléte</option>
            <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
            
          </select>
       
          <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Date </th>
                  <th>Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="number" placeholder="" ></td>
                  <td><input type="date" placeholder=""  ></td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="imprimer()" style="margin-right: 20px;">Imprimer</button>
                    <button type="button" class="btn btn-primary" (click)="consulterclinique(modalConsulterclinique)">Consulter</button>
                  </td>
                </tr>
              </tbody>
             
            </table>
          
  </form>
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>





  <ng-template #modalContentPhysique let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Examen physique</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="title">
          <h2>Examen physique</h2></div>
          <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
            <option selected>select un athléte</option>
            <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
            
          </select>
       
          <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Date </th>
                  <th>Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="number" placeholder="" ></td>
                  <td><input type="date" placeholder=""  ></td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="imprimer()">Imprimer</button>
                    <button type="button" class="btn btn-primary" (click)="consulterphysique(modalConsulterphysique)">Consulter</button>
                  </td>
                </tr>
              </tbody>
             
            </table>
          
  </form>
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>




  <ng-template #modalConsulterepreuve let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bilan d'epreuve</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="title">
          <h2>bilan d'effort maximal</h2></div>
          <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
            <option selected>select un athléte</option>
            <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
            
          </select>
       
          <table class="table">
              <thead>
                <tr>
                  <th>Type d'accident</th>
                  <th>Observation</th>
                  <th>Date d'accident</th>
                  <th>Prise de repas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" placeholder=""  [(ngModel)]="typeaccident"[ngModelOptions]="{standalone: true}"></td>
                  <td><input type="text" placeholder=""  [(ngModel)]="observation"[ngModelOptions]="{standalone: true}"></td>
                  <td><input type="date" placeholder=""  [(ngModel)]="dateaccident"[ngModelOptions]="{standalone: true}"></td>
                  <td><input type="text" placeholder=""  [(ngModel)]="priserepos"[ngModelOptions]="{standalone: true}"></td>
                </tr>
              </tbody>
             
            </table>
          
  </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="imprimer()" style="margin-right: 20px;">Imprimer</button>
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>
  
 
  
  <ng-template #modalConsulterclinique  let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Examen clinique</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form>
        <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
            <option selected>select un athléte</option>
            <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
            
          </select>

        <div class="mb-4">
            <div class="col" style="margin-bottom: 40px; margin-left: 600px;">
              <h6>Date:</h6>
              <input type="date" [(ngModel)]="selectedDate" class="form-control">
            </div>
            <h2 style="color: #2596be; font-size: 30px; font-weight: normal; margin-left: 300px; letter-spacing: 0.5em;">Acts Médicaux</h2>
          </div>
      
          <div class="mb-3 row">
            <div class="col-md-8">
              <label for="encographie" class="form-label"><h2>Echographie:</h2></label>
            </div>
            <div class="mb-3 row">
              <div class="col-md-6">
                <label for="nfsTest" class="form-label">Echographie Abdominal:</label>
                <textarea type="text" class="form-control" id="encographie"   [(ngModel)]="echographieabdo" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
              <div class="col-md-6">
                <label for="nfsTest" class="form-label">Echographie Vasculaire:</label>
                <textarea type="text" class="form-control" id="encographie"   [(ngModel)]="echographievascu" [ngModelOptions]="{standalone: true}"></textarea>
              </div></div>
              <div class="mb-3 row">
                <div class="col-md-6">
                  <label for="nfsTest" class="form-label">Echographie musculo_squelettique:</label>
                  <textarea type="text" class="form-control" id="encographie"  [(ngModel)]="echographiemusculo" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <div class="col-md-6">
                  <label for="nfsTest" class="form-label">Echographie cardiaque:</label>
                  <textarea type="text" class="form-control" id="encographie"   [(ngModel)]="echographiecaradiaque" [ngModelOptions]="{standalone: true}"></textarea>
                </div></div>
                <div class="mb-3 row">
                  <div class="col-md-6">
                    <label for="nfsTest" class="form-label">Echographie des parties molles:</label>
                    <textarea type="text" class="form-control" id="encographie"  [(ngModel)]="echographiepartie" [ngModelOptions]="{standalone: true}"></textarea>
                  </div></div>
                 
            <div class="col-md-8">
              <label for="testBiologique" class="form-label"><h2>Test Biologique:</h2></label>
              <input type="text" class="form-control" id="testBiologique" style="width:1000px;" [(ngModel)]="testbiologique" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
      
          <div class="mb-4">
            <h2>Bilan Biologique:</h2>
          </div>
      
          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="nfsTest" class="form-label">NFS Test</label>
              <input type="text" class="form-control" id="nfsTest" [(ngModel)]="nfstest" [ngModelOptions]="{standalone: true}">
            </div>
      
            <div class="col-md-6">
              <label for="testGlycineAgene" class="form-label">Test glycine agene</label>
           <textarea type="text" class="form-control" id="testGlycineAgene" [(ngModel)]="testglycine" [ngModelOptions]="{standalone: true}">Test glycine agene</textarea>
            </div>
          </div>
      
          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="testDuree" class="form-label">Test d'urée</label>
              <input type="text" class="form-control" id="testDuree" [(ngModel)]="testdurre" [ngModelOptions]="{standalone: true}">
            </div>
      
            <div class="col-md-6">
              <label for="testCreate" class="form-label">Test créate</label>
              <input type="text" class="form-control" id="testCreate"  [(ngModel)]="testcreate" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
      
          <div class="mb-3 row">
            <div class="col-md-6">
              <label for="testAsate" class="form-label">Test ASAT</label>
              <input type="text" class="form-control" id="testAsate" [(ngModel)]="testasat" [ngModelOptions]="{standalone: true}">
            </div>
      
            <div class="col-md-6">
              <label for="testAlAt" class="form-label">Test ALAT</label>
              <input type="text" class="form-control" id="testAlAt"  [(ngModel)]="testalat" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
      
   
      <div class="mb-4">
        <h2>Les Allergies:</h2>
      </div>
    
      <div class="mb-3 row">
        <div class="col-md-6">
          <label for="allergieAlimentaire" class="form-label">Allergies alimentaires:</label>
          <input type="text" class="form-control"  id="allergieAlimentaire" [(ngModel)]="allergiealiment" [ngModelOptions]="{standalone: true}">
        </div>
    
        <div class="col-md-6">
          <label for="allergieMedicament" class="form-label">Allergies aux médicaments:</label>
          <input type="text"  class="form-control" id="allergieMedicament" [(ngModel)]="allergiemedica " [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    
      <div class="mb-3 row">
        <div class="col-md-6">
          <label for="allergieRespiratoire" class="form-label">Allergies respiratoires:</label>
          <input type="text" class="form-control"  id="allergieRespiratoire" [(ngModel)]="allergieRespiratoire" [ngModelOptions]="{standalone: true}">
        </div>
    
        <div class="col-md-6">
          <label for="allergieAnimaux" class="form-label">Allergies aux animaux:</label>
          <input type="text" class="form-control"  id="allergieAnimaux" [(ngModel)]="allergieAnimaux" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    
     
  



    </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="imprimer()" style="margin-right: 20px;">Imprimer</button>
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>
  



  
  <ng-template #modalConsulternutritionel let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bilan nutritionel</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
            <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
                <option selected>select un athléte</option>
                <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
                
              </select>
            <div class="col-md-4">
          
            <h6>Date:</h6>
            <input type="date" [(ngModel)]="selectedDate" class="form-control" style="width: 200px;">
          </div>
      
        </div>
          <div class="mb-4">
            <h2 style="color: #2596be; font-size: 20px; font-weight: normal;  letter-spacing: 0.2em;">Habitudes alimentaires</h2>
          </div>
  
          <div class="mb-3 row">
            <div class="col-md-8">
            <label for="encographie" class="form-label" ><h2> Nombre d'entraînements par semaine :</h2></label>
            <input type="text" class="form-control" id="encographie" style="width:1000px;"  [(ngModel)]="nbrentrainement"[ngModelOptions]="{standalone: true}">
          </div>
  
          <div class="col-md-8">
            <label for="testBiologique" class="form-label"><h2> Durée moyenne des entraînements p ar semaine :</h2></label>
            <input type="time" class="form-control" id="testBiologique" style="width:1000px;"  [(ngModel)]="dureemoy"[ngModelOptions]="{standalone: true}">
          </div></div>
        
          <div class="mb-3 row">
            <div class="col-md-8">
            <label for="encographie" class="form-label" ><h2> Nombre de repas par semaine :</h2></label>
            <input type="number" class="form-control" id="nbrrepas" style="width:1000px;  margin-bottom: 20px;"  [(ngModel)]="nbrrepas" [ngModelOptions]="{standalone: true}">
          </div></div>
  
          <div class="mb-4">
            
            <label for="encographie" class="form-label" ><h2> Aliment consommé leur de repas  :</h2></label>
            <!--input type="number" class="form-control" id="nbrrepas" style="width:1000px;  margin-bottom: 20px;"  [(ngModel)]="alimentconsom" [ngModelOptions]="{standalone: true}"-->
            <!--textarea  type="text" class="form-control" id="nbrrepas" style="width:1000px;  margin-bottom: 20px;"  [(ngModel)]="alimentconsom" [ngModelOptions]="{standalone: true}"></textarea-->
          </div>
          <div class="mb-3 row">
            <div class="col-md-6">
              <label  class="form-label">Type :</label>
              <input type="text" class="form-control" id="nomfruit"  [(ngModel)]="type"[ngModelOptions]="{standalone: true}" style="width: 1000px;">
            </div></div>
            <div class="mb-3 row">
            <div class="col-md-6">
              <label  class="form-label">Consomation protéins: </label>
              <input type="text" class="form-control" id="quantite" style="width:1000px" [(ngModel)]="proteine"[ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-md-6">
              <label  class="form-label">Consomation glucides:</label>
              <input type="text" class="form-control" id="poitions" style="width:1000px"  [(ngModel)]="glucide"[ngModelOptions]="{standalone: true}">
            </div></div>
            <div class="mb-3 row">
            <div class="col-md-6">
              <label  class="form-label">Consomation de matiérs grasse:</label>
              <input type="text" class="form-control" id="poitions" style="width:1000px;" [(ngModel)]="grasse"[ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="mb-4">
            <h2 style="margin-bottom: 10px;">Consomation de fruits et légumes  : </h2>
          </div>
          <div class="mb-3 row">
            <div class="col-md-6">
              <label  class="form-label">Type de fruit et légumes:</label>
              <input type="text" class="form-control" id="nomfruit"  [(ngModel)]="nomfruit"[ngModelOptions]="{standalone: true}">
            </div>
  
            <div class="col-md-6">
              <label  class="form-label">Quantité </label>
              <input type="text" class="form-control" id="quantite"  [(ngModel)]="quantite"[ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-md-8">
              <label  class="form-label">Les portions:</label>
              <input type="text" class="form-control" id="poitions"  [(ngModel)]="portions"[ngModelOptions]="{standalone: true}">
            </div></div>
  
     
                  <div class="mb-3 row">
            <div class="col-md-6">
              <label for="testAsate" class="form-label" style="font-size: 19px; margin-bottom: 35px;">Prise de médicaments  :</label>
            </div>
  
            <table class="table">
              <thead>
                <tr>
                  <th>Nom de medicament</th>
                  <th>jour</th>
                  <th>Prise</th>
               
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td><input type="text" placeholder="" [(ngModel)]="nom" [ngModelOptions]="{ standalone: true }"></td>
                  <td><input type="text" placeholder="" [(ngModel)]="prise" [ngModelOptions]="{ standalone: true }"></td>
                  <td><input type="text" placeholder="" [(ngModel)]="jour" [ngModelOptions]="{ standalone: true }"></td>
                  
                </tr>
              
              </tbody>
            </table>
          </div>   
  </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="imprimer()">Imprimer</button>
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>
  

  <ng-template #modalConsulterphysique let-modal>
    <div class="modal-container custom-modal-size">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Examen Physique </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <select class="custom-select"[(ngModel)]="selectedUserId"  (change)="onSelectUser()">
            <option selected>select un athléte</option>
            <option *ngFor="let user of users"[value]="user.id" >{{user.nom}}&nbsp;{{user.prenom}}</option>
            
          </select>
        <div class="col" style="margin-bottom: 40px; margin-left: 600px; margin-top: 20px;">
            <h6>Date:</h6>
            <input type="date" [(ngModel)]="dateexamen" [ngModelOptions]="{standalone: true}" class="form-control">
          </div>
          <div class="mb-4">
          <h2 style="color: #2596be; font-size: 30px; font-weight: normal; margin-left: 230px; letter-spacing: 0.5em;">Mesure anthropométrie</h2>
          </div>
          
          <div class="container" style="margin-bottom: 50px; margin-top: 10px;">
            <div class="row">
              <div class="col-md-12" >
                <div class="shadow-lg p-4">
                
                
                   
                    <h2>Taper les mesures de votre corps?</h2>
                    
          
                    <div class="mb-3">
                      <label for="taille" class="form-label">Taille (cm)</label>
                      <input type="text" class="form-control" id="taille"  [(ngModel)]="taille"[ngModelOptions]="{standalone: true}"  >
                    </div>
          
                    <div class="mb-3">
                      <label for="poids" class="form-label">Poids</label>
                      <input type="text" class="form-control" id="poids"  [(ngModel)]="poids"[ngModelOptions]="{standalone: true}" >
                    </div>
                    <div class="mb-3">
                      <label for="imc" class="form-label">IMC</label>
                      <input type="number" class="form-control" id="imc" [(ngModel)]="imc" [ngModelOptions]="{ standalone: true }" readonly>
                  </div>
                  <div *ngIf="athleteState">
                    <p>Athlete's State: {{ athleteState }}</p>
                  </div>
   </div></div></div></div>          
  </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="imprimer()">Imprimer</button>
  
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">fermer</button>
   
   </div> </div>
  </ng-template>
  