<html>
 
  <body style="background-color:rgb(13 110 253 / 39%) ">

    <div class="row">
      <div class="col-sm-6">
        <a href="suivitech" class="btn">
        <div class="card shadow-lg" style=" margin-top: 35px; margin-left: 260px; background-color:  rgba(0,0,0,.15);">
          <img class="card-img-top" src="/../assets/add-friend.png" style="width:100px; height:100px; margin-left: 120px; margin-top: 55px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: #ffff; margin-left: 25px; margin-top: 5px;">suivi téchnique</h5>
            
       
          </div>  
        </div> </a>
      </div>
      <div class="col-sm-6">
        <a href="#" class="btn">
        <div class="card shadow-lg" style=" margin-top:35px;margin-left: 120px; background-color: rgba(0,0,0,.15);">
          <img class="card-img-top" src="/../assets/medical-history.png" style="width:100px; height:100px; margin-left: 130px; margin-top: 55px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="margin-left: 25px;margin-top: 5px;">suivi médical</h5>
            
            
          </div>
        </div></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a href="#" class="btn">
        <div class="card shadow-lg" style=" margin-top: 15px;margin-left: 260px; background-color: rgba(0,0,0,.15);">
          <img class="card-img-top" src="/../assets/coureur.png" style="width:100px; height:100px; margin-left: 120px; margin-top: 55px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="margin-left: 15px; margin-top: 5px;">athléthe</h5>
           
          
          </div>
        </div></a>
      </div>
      <div class="col-sm-6">
        <a href="" class="btn">
        <div class="card shadow-lg" style="margin-top: 15px; margin-left: 120px; background-color: rgba(0,0,0,.15);">
          <img class="card-img-top" src="/../assets/user.png" style="width:100px; height:100px; margin-left: 120px; margin-top: 55px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: #070303;font-size: 18px; margin-left: 15px;margin-top: 5px;">visit mon profile</h5>
            
         
          </div>
        </div></a>
      </div>
    </div>


</body>

</html>
