
<body>
  <app-header></app-header>


  <ngb-carousel>
        <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
        <img src="../assets/ath.png" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3 ></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/3.jpg" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../assets/9.jpg" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container " style="display: flex; justify-content: space-between;">

  
  <div class="card shadow-lg p-3 mb-5 bg-white" style="width: 18rem;">
    <img src="/../assets/5.jpg" class="card-img-top rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">Food</h5>
      <p class="card-text">Manger une grande variété d'aliments nutritifs, y compris des fruits, des légumes, des noix, des graines et des protéines maigres peut aider à soutenir votre santé.</p>

    </div>
    
  </div>
  <div class="card shadow-lg p-3 mb-5 bg-white " style="width: 18rem; margin-left: 45px;">
    <img src="/../assets/hydrat.jpg" class="card-img-top rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hydratation</h5>
      <p class="card-text">L’hydratation durant les entraînements est une chose essentielle pour performer. En plus, c’est l’accessoire écolo tendance en ce moment.</p>
  
    </div>
    
  </div>
  <div class="card shadow-lg p-3 mb-5 bg-white " style="width: 18rem; margin-left: 45px;">
    <img src="/../assets/ath.png" class="card-img-top rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">Athlétisme</h5>
      <p class="card-text">L'athlétisme est un sport qui comprend de nombreuses disciplines regroupées en courses, en sauts, en jets, en épreuves combinées et en marches.</p>
     
    </div>
    
  </div>
  <div class="card shadow-lg p-3 mb-5 bg-white " style="width: 18rem; margin-left: 45px;">
    <img src="/../assets/cardi.jpg" class="card-img-top rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cardiovasculaire</h5>
      <p class="card-text">l'athlétisme peut améliorer la fonction cardiovasculaire et prévenir le développement de ce type de maladie,c'est le principe avantage sur la santé.
      </p>
    </div>
    
  </div>
</div>

  
</body>

