<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="card" style="background-color: black; ">
          <h5 class="card-title" style=" color: #fff;  text-shadow: 2px 2px 4px #fff;">Today's Plan</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-title" style=" text-shadow: 2px 2px 3px #000000;">Annual Plan</h5>
        
        </div>
      </div>
   
   
      <div class="col-md-6">
        <div class="card">
          <h5 class="card-title"  style="  text-shadow: 2px 2px 4px #000000;">Profile</h5>
         
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="background-color: black; ">
          <h5 class="card-title" style=" color: #fff; text-shadow: 2px 2px 4px #fff;">Settings</h5>
        </div>
        </div>
    </div>
    </div>