<mat-toolbar class="shadow-lg rounded">
    <button mat-icon-button mat-button *ngIf="sidenav?.mode === 'over'" (click)="sidenav?.toggle()">
        <mat-icon *ngIf="!sidenav?.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav?.opened">close</mat-icon>
      </button>
      
      
    Bienvenue
    
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <img class="avatar mat-elevation-z8 rounded-image" src="/../assets/25.png" style="width:100px; ">
<h4 class="name">Nom d'un athléte</h4>
<p class="designation">Type d'entrainement</p>

<mat-divider></mat-divider>
<button mat-button class="menu-button" (click)="navigateTo('')">
    <mat-icon>home</mat-icon>
    <span style="font-size: 13px;">Home</span>
  </button>
  <button mat-button class="menu-button" (click)="navigateTo('')">
    <mat-icon>person</mat-icon>
    <span style="font-size: 13px;">Profile</span>
  </button>
  <button mat-button class="menu-button" (click)="navigateTo('planningjour')">
    <mat-icon>access_time</mat-icon>
    <span style="font-size: 13px;">Planning du jour</span>
  </button>
  <button mat-button class="menu-button" (click)="navigateTo('planningannuel')">
    <mat-icon>event</mat-icon>
    <span style="font-size: 13px;">Planning annuel</span>
  </button>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
<mat-icon>exit_to_app</mat-icon>
<span style="font-size: 13px;">Log out</span>
</button>
</mat-sidenav>
<mat-sidenav-content>
<router-outlet></router-outlet>
        Main content
      
      
</mat-sidenav-content>
</mat-sidenav-container>
