

<form>
  <div class="form-group mb-3 col">
    <div class="row">
      <div class="col-md-6">     
<label for="name" class="form-label">Nom d'un Athléthe</label>
<input type="text" class="form-control " id="name" placeholder="Nom">
</div>
<div class="col-md-6">
  <label for="prenom" class="form-label">Prenom D'un Athléthe</label>
  <input type="text" class="form-control " id="prenom" placeholder="prenom">
  </div>
</div></div>
<div class="form-group mb-3">
  <div class="row">

    <div class="col-md-6">  
  <div class="h6"><h6>Genre:</h6>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1"><img src="/../assets/avatar-homme.png" style="width:30px; height: 30px;"></label>
  </div>
  <div class="form-check form-check-inline" style="margin-left: 200px;">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2"><img src="/../assets/femme.png" style="width:30px; height: 30px;"></label>
  </div></div></div>

  <div class="col-md-6"> 
    <label for="age" class="form-label">Age</label>
    <input type="number" class="form-control" id="age" placeholder="age">
    </div>
  </div></div>
    <div class="form-group mb-3">
      <div class="row">
        <div class="col-md-6">
      <label for="ville" class="form-label">Ville</label>
      <input type="text" class="form-control" id="ville" placeholder="ville">
      </div>
      <div class="col-md-6">
        <label for="address" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="address" placeholder="address">
        </div></div>  </div>
        <div class="form-group mb-3">
          <div class="row">
            <div class="col-md-6">
          <label for="ecole" class="form-label" style="text-transform: capitalize;">école</label>
          <input type="text" class="form-control" id="ecole" placeholder="ecole">
          </div>
          <div class="col-md-6">
            <label for="classe" class="form-label" style="text-transform: capitalize;">classe</label>
            <input type="text" class="form-control" id="classe" placeholder="classe">
            </div> </div></div>
            <div class="form-group mb-3">
              <label for="entraineur" class="form-label" style="text-transform: capitalize;">Nom d'Entraineur</label>
              <input type="text" class="form-control" id="entraineur" placeholder="entraineur">
              </div>  
         <div class="form-group mb-3 row">
          
          <div class="col-sm-6">
          <button type="submit" class="btn btn-primary btn-block ">Envoyer</button>
          </div>
          <div class="col-sm-6">
          <button type="reset" class="btn btn-primary btn-block ">Annuler</button>
         </div>       
         </div>    

</form>








