@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  h5{

    font-family: 'EB Garamond', serif;

    justify-content: center;
    align-items: center;
   
    
    margin-top:43px;
  
  }
  .col-md-3 {
    width: 200px;
    height: 200px;
  }
  
  .container {
    
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */

  }
  .card{
    height: 150px;
    border-radius: 20px;
  }
  a{
text-decoration: none;
  
    
  }
  .card-title{

    font-size: 20px;
    color: #fff;
  }
  